ansible==11.1.0
ansible-compat==25.5.0
ansible-core==2.16.14
ansible-lint==25.5.0
black==26.1.0
cffi==2.0.0
cryptography==46.0.5
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
passlib==1.7.4
pycparser==2.22
PyYAML==6.0.2
resolvelib==1.0.1
