---
- name: Setup Management ({{ default_iface_desired_name }}) interface
  vars:
    iface_name: '{{ ansible_default_ipv4.interface or ("ens192" if ansible_virtualization_role == "guest" else "ens259f0") }}'
    default_ip_address: "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}"
    mac_address: "{{ ansible_default_ipv4.macaddress or hostvars[default_ip_address]['ansible_' + iface_name].macaddress }}"
    final_iface_name: "{{ default_iface_desired_name }}"

  block:
    - name: Create necessary {{ default_iface_desired_name }} persistent interface naming rules
      lineinfile:
        path: "{{ net_persistent_rules_file }}"
        create: yes
        line: 'SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ mac_address }}", ATTR{type}=="1", NAME="{{ final_iface_name }}"'
        regexp: 'ATTR{address}=="{{ mac_address }}".*NAME="{{ final_iface_name }}"'
      when:
        - is_not_witness
        - iface_name != default_iface_desired_name
      notify: Reload udev rules

    - name: Update interface configuration file
      update_interface:
        old_device: "{{ iface_name }}"
        new_device: "{{ default_iface_desired_name }}"
      when:
        - is_not_witness
        - iface_name != default_iface_desired_name
      register: netif_config_update_result

    - name: Update PeerInterfaceIncludeList in the confd configuration file
      # The PeerInterfaceIncludeList property in the configuration file must
      # include the regex pattern which will ultimately match the name(s) of the
      # inteface(s) over which confd peer communications are performed. We must
      # ensure that this file correctly represents the name of the admin
      # interface _after_ the renaming.
      ansible.builtin.template:
        src: templates/etc/racktop/confd/confd.conf.j2
        dest: /etc/racktop/confd/confd.conf
      when:
        - is_not_witness
      register: confd_config_update_result

    - name: Notify confd service restart handler only if reboot is unnecessary
      # We don't actually need this task to do anything. It is only here to
      # allow us to conditionally trigger the notification using 'when'. We
      # cannont do this in the task where we update the confd configuration
      # file.
      ansible.builtin.debug:
      notify: Restart confd service
      when:
        - is_not_witness
        - netif_config_update_result.changed | default(false)
        - confd_config_update_result.changed | default(false)

    - name: Set default gateway if necessary
      ansible.builtin.lineinfile:
        path: /etc/sysconfig/network
        line: "GATEWAY={{ default_gw_ipaddr }}"
        create: yes
      when: default_gw_ipaddr is defined and default_gw_ipaddr != ""

    - name: Reboot the system if network interface rename occurs
      vars:
        reboot_is_required: |
          {{ netif_config_update_result.changed | default(false) }}
      reboot:
        reboot_timeout: 300
        test_command: |
          curl -k https://localhost:8443/static/assets/site.webmanifest
      when:
        - is_not_witness
        - reboot_is_required

  notify: Restart network
