---
# Ensure that this task gathering happens early in the playbook execution. This
# information is used by the ZFS tasks, etc.
# - name: Gather hiavd program facts
#   hiavd_facts:

- name: Add various HA component facts (witness)
  vars:
    node1: "{{ hostvars.ossnode1 if role == 'oss' else hostvars.mdsnode1 }}"
    node2: "{{ hostvars.ossnode2 if role == 'oss' else hostvars.mdsnode2 }}"
  set_fact:
    first_node_name: "{{ node1.ansible_hostname }}"

    first_node_ipmi_ip_address: "{{ node1.ipmi_ip_address }}"

    first_node_uuid: "{{ node1.ansible_product_uuid }}"

    first_node_private_ip_address: "{{ node1.hb_iface_ipaddr }}"

    first_node_public_ip_address: "{{ node1.ansible_default_ipv4.address }}"

    second_node_name: "{{ node2.ansible_hostname }}"

    second_node_ipmi_ip_address: "{{ node2.ipmi_ip_address }}"

    second_node_uuid: "{{ node2.ansible_product_uuid }}"

    second_node_private_ip_address: "{{ node2.hb_iface_ipaddr }}"

    second_node_public_ip_address: "{{ node2.ansible_default_ipv4.address }}"

    witness_name: "{{ ansible_hostname }}"

    witness_public_ip_address: "{{ ansible_default_ipv4.address }}"

    # UUID of the witness itself
    witness_uuid: "{{ ansible_product_uuid }}"
  when:
    - is_witness

- name: Add various HA component facts (HA peers)
  vars:
    my_role: "{{ role if role|default(none) else 'oss' if inventory_hostname in groups['oss'] else 'mds' }}"
    group: "{{ 'oss' if my_role == 'oss' else 'mds' }}"
    # Boolean identifying whether the first entry in the group identified by
    # the `group` variable should be treated as the first node in the cluster.
    first_ha_node: "{{ hostvars[groups[group][0]].first_ha_node }}"
    ip_address: "{{inventory_hostname}}"
  set_fact:
    # This is a symbolic name which we give to the hosts in the inventory in
    # place of IP addresses. The benefit is more consistency with names such as
    # ossnode1, mdsnode1, etc. In addition, without the '-v' flag passed to
    # ansible-playbook, actual IP addresses of the machines are disguised.

    # This variable is not required on the witness because it is used in
    # generation of `/etc/bsr.conf` which does not exist on the witness.
    peer_inventory_name: "{{ group + 'node2' if inventory_hostname == group + 'node1' else group + 'node1' }}"

    first_node_ipmi_ip_address: "{{ hostvars[groups[group][0]].ipmi_ip_address if first_ha_node else hostvars[groups[group][1]].ipmi_ip_address }}"

    first_node_name: "{{ hostvars[groups[group][0]].ansible_hostname if hostvars[groups[group][0]].first_ha_node else hostvars[groups[group][1]].ansible_hostname }}"

    first_node_private_ip_address: "{{ hostvars[groups[group][0]].hb_iface_ipaddr if first_ha_node else hostvars[groups[group][1]].hb_iface_ipaddr }}"

    first_node_public_ip_address: "{{ hostvars[groups[group][0]].ansible_default_ipv4.address if first_ha_node else hostvars[groups[group][1]].ansible_default_ipv4.address }}"

    # UUID of the first node
    first_node_uuid: "{{ hostvars[groups[group][0]].ansible_product_uuid if first_ha_node else hostvars[groups[group][1]].ansible_product_uuid }}"

    second_node_ipmi_ip_address: "{{ hostvars[groups[group][0]].ipmi_ip_address if not first_ha_node else hostvars[groups[group][1]].ipmi_ip_address }}"

    second_node_name: "{{ hostvars[groups[group][0]].ansible_hostname if not first_ha_node else hostvars[groups[group][1]].ansible_hostname }}"

    second_node_private_ip_address: "{{ hostvars[groups[group][0]].hb_iface_ipaddr if not first_ha_node else hostvars[groups[group][1]].hb_iface_ipaddr }}"

    second_node_public_ip_address: "{{ hostvars[groups[group][0]].ansible_default_ipv4.address if not first_ha_node else hostvars[groups[group][1]].ansible_default_ipv4.address }}"

    # UUID of the second node
    second_node_uuid: "{{ hostvars[groups[group][0]].ansible_product_uuid if not first_ha_node else hostvars[groups[group][1]].ansible_product_uuid }}"

    witness_name: "{{ hostvars[groups['cluster_witness'][0]].ansible_hostname }}"
    witness_public_ip_address: "{{ hostvars[groups['cluster_witness'][0]].ansible_default_ipv4.address }}"

    # UUID of the witness itself
    witness_uuid: "{{ hostvars[groups['cluster_witness'][0]].ansible_product_uuid }}"
  when: is_not_witness

- name: HA set on both nodes and witness
  # In this block some tasks have a `when` conditional eventhough these tasks
  # render a template, which seems like an odd thing to do, given the template
  # should be rendered identically each and every time.
  # We do this because even though we use a template to create the initial
  # state, these files will eventually change and will therefore be replaced by
  # Ansible because the rendered template version will not be a match to the
  # file on disk. Thus we have to have another way to detect whether this play
  # should make changes. Serialized state file changes each time there are
  # changes to cluster configuration, while `hiavd` configuration file will
  # change each time version of the code changes.
  block:
    - name: Generate cluster-wide guid
      xor_uuid:
        uuid1: "{{ first_node_uuid }}"
        uuid2: "{{ second_node_uuid }}"
      register: reg_cluster_guid

    - name: Generate {{ bsr_config_file }}
      ansible.builtin.template:
        dest: "{{ bsr_config_file }}"
        src: templates/{{ bsr_config_file }}.j2
      when:
        - is_not_witness

    - name: Generate {{ hiavd_identifiers_file }}
      ansible.builtin.copy:
        content: '{"ClusterId": {{ reg_cluster_guid.guid_hash }}, "ClusterGuid": "{{ reg_cluster_guid.guid }}"}'
        dest: "{{ hiavd_identifiers_file }}"

    - name: Ensure instance-specific config directory {{ hiavd_config_file | dirname }} exists
      vars:
        config_dir: "{{ hiavd_config_file | dirname }}"
      ansible.builtin.file:
        dest: "{{ config_dir }}"
        state: directory
        mode: 0755
      when: is_witness

    - name: Generate hiavd configuration file
      ansible.builtin.template:
        dest: "{{ hiavd_config_file }}"
        src: templates/{{ hiavd_config_file_default }}.j2

    # After initial generation this state file will be mutated by hiavd.
    - name: Generate hiavd state file only if new configuration
      ansible.builtin.template:
        dest: "{{ hiavd_state_file }}"
        src: templates/{{ hiavd_state_file_default }}.j2
      when:
        - ansible_facts.hiavd.new_configuration
        - hiavd_force_config_recreation

    - name: Create resource group for pool
      create_resource_group:
        poolname: "{{ item }}"
        ha_peer_ipaddr: "{{ ha_peer_ipaddr }}"
      with_items:
        - "{{ zpools }}"
      when:
        - is_not_witness
