---
- name: Reboot system
  ansible.builtin.reboot:
    msg: "Rebooting to apply SELinux changes"

- name: Restart confd service
  ansible.builtin.systemd_service:
    name: confd
    state: restarted

- name: Restart hiavd service
  ansible.builtin.systemd_service:
    name: hiavd
    state: restarted

- name: Restart network
  ansible.builtin.service:
    name: NetworkManager
    state: restarted

- name: Restart NTP
  ansible.builtin.service:
    name: chronyd
    state: restarted

- name: Remove IPMI user setup script
  ansible.builtin.file:
    state: absent
    path: "{{ ipmi_setup_script_path }}"

- name: Reload udev rules
  ansible.builtin.command:
    cmd: "{{ item }}"
  with_items:
    - udevadm control --reload-rules
    - udevadm trigger --subsystem-match=net --action=add

- name: Remove temporary SSH key
  ansible.builtin.file:
    path: "{{ item }}"
    # state: absent
    state: touch
  with_items:
    - "{{ playbook_dir }}/tmpssh/id_ed25519"
    - "{{ playbook_dir }}/tmpssh/id_ed25519.pub"
