net:
    - net type: o2ib
      local NI(s):
{% set idx = 0 %}
{% for key, value in ib_addrs.items() %}
{% if value %}
        - nid: {{ value }}@o2ib
          interfaces:
              {{ idx }}: {{key}}
{% endif %}
{% set idx = idx + 1 %}
{% endfor %}
          tunables:
              peer_timeout: 180
              peer_credits: 8
              peer_buffer_credits: 0
              credits: 256
          lnd tunables:
              peercredits_hiw: 4
              map_on_demand: 1
              concurrent_sends: 8
              fmr_pool_size: 512
              fmr_flush_trigger: 384
              fmr_cache: 1
              ntx: 512
              conns_per_peer: 1
          dev cpt: 0
          CPT: "[0,1]"
global:
    numa_range: 0
    max_interfaces: 200
    discovery: 1
    drop_asym_route: 0
    retry_count: 2
    transaction_timeout: 50
    health_sensitivity: 100
    recovery_interval: 1
    router_sensitivity: 100
    lnd_timeout: 16
    response_tracking: 3
    recovery_limit: 0
