# Copyright {{ ansible_date_time.year }} RackTop Systems, Inc.
# Name: hiavd
# Version: {{ ansible_facts.hiavd.version }}

DebugSync = false
CommsPort = {{ ha_comms_port }}
ListenAddr = ""
VnicIf = ""
PreExportHook = "/etc/racktop/hiavd/pre-export.sh"
PostImportHook = "/etc/racktop/hiavd/post-import.sh"

[[ClusterNodes]]
  Witness = false
  Guid = "{{ first_node_uuid }}"
  Name = "{{ first_node_name }}"
  RmmAddr = "{{ first_node_ipmi_ip_address }}"
  PublicAddr = "{{ first_node_public_ip_address }}"
  PrivateAddr = "{{ first_node_private_ip_address }}"

[[ClusterNodes]]
  Witness = false
  Guid = "{{ second_node_uuid }}"
  Name = "{{ second_node_name }}"
  RmmAddr = "{{ second_node_ipmi_ip_address }}"
  PublicAddr = "{{ second_node_public_ip_address }}"
  PrivateAddr = "{{ second_node_private_ip_address }}"

[[ClusterNodes]]
  Witness = true
  Guid = "{{ witness_uuid }}"
  Name = "{{ witness_name }}"
  RmmAddr = ""
  PublicAddr = "{{ witness_public_ip_address }}"
  PrivateAddr = ""
